{#
/**
 * @file
 * BearCom base page template.
 */
#}

{% include '@bearcom/layout/header.html.twig' %}

<main role="main" class="main-content">
  {% if node_type is defined and node_type in ['flexible_page', 'industry', 'location'] %}
    {{ page.content }}
  {% else %}
    <div class="container">
      {{ page.content }}
    </div>
  {% endif %}
</main>

{% if is_error_page is defined and is_error_page %}
  {% include '@bearcom/layout/footer--minimal.html.twig' %}
{% else %}
  {% include '@bearcom/layout/footer.html.twig' %}
{% endif %}
