{# FAQ Section — title + accordion FAQ items #}
<section class="faq-section">
  <div class="container">
    {% if paragraph.field_title.value %}
      <div class="section__header">
        <h2 class="section__title">{{ paragraph.field_title.value }}</h2>
      </div>
    {% endif %}

    <div class="faq-section__items accordion">
      {{ content.field_cards }}
    </div>
  </div>
</section>
